body {
  font-family: Arial, sans-serif;
  background-color: #f9f3e6;
  color: #f5f5f5;
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #333;
  padding: 15px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
header {
  background: url('./look.jpeg') no-repeat center center/cover;
  color: #fff;
  padding: 60px 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav ul {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 1.7rem;
  transition: color 0.3s;
  font-family:'Times New Roman', Times, serif;
}

nav ul li a:hover {
  color: #ffab40;
}

nav h1 a {
  color: #ed7e29;
  text-decoration: none;
  font-size: 5.7rem;
  font-weight: 700;
}

.menu {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #f6f5f5;
}

.menu-section {
  margin-bottom: 40px;
}

.menu-section h2 {
  font-size: 2em;
  margin-bottom: 10px;
  border-bottom: 2px solid #ff6f61;
  padding-bottom: 5px;
  display: inline-block;
  width: auto;
}

.menu-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px dotted #444;
  padding: 10px 0;
}

.menu-item img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 20px;
}

.menu-text {
  flex-grow: 1;
}

.menu-text h3 {
  margin: 0;
  font-size: 1.5em;
  color: #ff6f61;
}

.menu-text p {
  margin: 5px 0 0;
  font-size: 0.9em;
  color: #ccc;
}

.price {
  font-size: 1.5em;
  color: #ff6f61;
}

footer {
  background: #333;
  color: #fff;
  padding: 30px 0;
  text-align: center;
}

.footer-widgets {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
  max-width: 900px;
  margin: 0 auto;
}

.footer-widgets .widget {
  width: 30%;
  margin: 0 10px;
}

.footer-widgets h4 {
  margin-bottom: 15px;
  color: #fff;
}

.footer-widgets ul {
  list-style: none;
  padding: 0;
}

.footer-widgets ul li {
  margin-bottom: 10px;
}

.footer-widgets ul li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-widgets ul li a:hover {
  color: #ffab40;
}

.footer-bottom {
  margin-top: 20px;
}
